arabic-reshaper==3.0.0
asgiref==3.8.1
certifi==2026.2.25
cffi==1.16.0
charset-normalizer==3.4.4
cryptography==42.0.8
cssselect2==0.7.0
Django==5.0.6
gunicorn==22.0.0
html5lib==1.1
lxml==5.2.2
openpyxl==3.1.5
Pillow==10.3.0
psycopg2-binary==2.9.9
pypdf==4.2.0
reportlab==4.2.0
requests==2.32.3
six==1.16.0
sqlparse==0.5.0
svglib==1.5.1
tinycss2==1.2.1
tzdata==2024.1
urllib3==2.2.1
whitenoise==6.7.0
# rebuild trigger